<!DOCTYPE html>
<html>
  <head>
    <title>KeepClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/d72bac2e79.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.lburl = "<%= image_url('keep_48dp.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
