<!DOCTYPE html>
<html>
  <head>
    <title>KeepClone</title>
    <%= favicon_link_tag asset_path('keep_48dp.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/d72bac2e79.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Public+Sans&display=swap" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet"></link>
    <script type="text/javascript">
      window.lburl = "<%= image_url('keep_48dp.png') %>";
    </script>
  
    <script type="text/javascript">
      window.video = "<%= video_url('note_splash_video.m4v') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
